/*.dropdown:hover> .dropdown-menu{
    display: block;
}
*/
body{
    background-color: #f8f8f8;
    min-height: 100vh;
    position: relative;
    margin: 0;
}
.navbar .navbar-collapse li a {
    color: blue;
}
.navbar{
    background-color: #fff;
}
.button{
   color: red;
}
a.navbar-brand:hover{
    color: #27ccc0;
}  
a.nav-link:hover {
    color:#27ccc0;
}
a.dropdown-item:hover{
    color:#27ccc0;
}

footer{
    background-color: #fff;
}  
.link>a {
    color: #676767;
}
footer .link {
    font-size: 14px;
}
.link>a:hover {
    color: #27ccc0;
    text-decoration: none;
}

.contactMain{
    padding-top: 56px;
    margin-top: 30px;
}

.contactMain img {
    width: 567px;
    height: auto;
}

.contactMainText p {
    color: #676767;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 1.5;
}

.contactSocial{
    margin-top: 50px;
    margin-bottom: 75px;
}
.contactSocial a{
    text-decoration: none;
    color: #27ccc0;
    font-weight: bold;
}

.contactSocial a:hover{
    color: #27ccc0; 
}

